{% extends "layout.html" %}
{% block navbar %}
{% endblock %}
{% block body %}

<style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
        }

        #sidebar {
            background-color: #343a40;
            color: white;
            position: fixed;
            min-height: 100vh;
            width: 15%;
            top: 0;   /* Eklenen kısım */

        }

        #sidebar .nav-link {
            color: white;
        }

        #sidebar .nav-link:hover {
            background-color: #007bff;
            color: white;
        }

        main {
            margin-left: 15%; /* Sidebar'ın genişliği kadar bir boşluk bırak */
        }
    </style>
<div class="container-fluid">
    <div class="row">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="d-flex justify-content-between align-items-center p-3">
                <h4>Admin Panel</h4>
            </div>
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" id="menu1" href="#">Lojistik Bilgisi Ekle</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="menu2" href="#">Menu 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="menu3" href="#">Menu 3</a>
                </li>
            </ul>
        </nav>

        <!-- Main Content -->
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
            <div id="content">
                <h1>Hoşgeldiniz</h1>
                <p>Menüden bir öğe seçerek işlem yapmaya başlayabilirsiniz.</p>
            </div>
        </main>
    </div>
</div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../static/js/admin_panel.js"></script>

{% endblock %}

