{% extends "layout.html" %}
{% block navbar %}
{% endblock %}
{% block body %}
<style>
   .card {
   margin: 10px 0 10px 0;
   }
</style>
<div class="container">
   <form id="my_form" action="/form-submit" method="post">
      <div class="row">
         <div class="col">
            <div class="card card1">
               <div class="card-body">
                  <h2>Gönderen Bilgileri</h2>
                  <div class="mb-3">
                     <label for="gonderici-adi">Gönderici Adı-soyadi</label>
                     <input type="text" class="form-control" id="gonderici-adi" name="gonderici-adi" required placeholder="İsim Soyisim">
                  </div>
                  <div class="mb-3">
                     <label for="gonderici-telefonu">Gönderici İrtibat Numarası</label>
                     <input type="tel" class="form-control" id="gonderici-telefonu" name="gonderici-telefonu" required placeholder="555 555 55 55">
                  </div>
               </div>
            </div>
            <div class="card card2">
               <div class="card-body">
                  <h2>Araç Bilgileri</h2>
                  <div class="mb-3">
                     <label for="sofor-adi">Şoför Ad Soyad</label>
                     <input type="text" class="form-control" id="sofor-adi" name="sofor-adi" required placeholder="İsim Soyisim">
                  </div>
                  <div class="mb-3">
                     <label for="sofor-tckn">Şoför T.C. Kimlik No</label>
                     <input type="text" class="form-control" id="sofor-tckn" name="sofor-tckn" required placeholder="11223344566" maxlength="11" pattern="\d{11}">
                     <small class="form-text text-muted">Lütfen 11 haneli T.C. Kimlik Numaranızı giriniz.</small>
                  </div>
                  <div class="mb-3">
                     <label for="sofor-cep-telefonu">Şoför Cep Telefonu</label>
                     <input type="tel" class="form-control" id="sofor-cep-telefonu" name="sofor-cep-telefonu" required placeholder="533 533 53 33">
                  </div>
                  <div class="mb-3">
                     <label for="plaka">Plaka</label>
                     <input type="text" class="form-control" id="plaka" name="plaka" required placeholder="34 ABC 123">
                  </div>
                  <div class="mb-3">
                     <label for="yardim-durumu">Yardım Durumu</label>
                     <select class="form-control" id="yardim-durumu" name="yardim-durumu" required>
                        <option value="Yolda">Yolda</option>
                        <option value="Hazırlanıyor">Hazırlanıyor</option>
                     </select>
                  </div>
               </div>
            </div>
            <div class="card card3">
               <div class="card-body">
                  <h2>Gönderim Adresi</h2>
                  <div class="mb-3">
                     <label for="gonderim-il">İl</label>
                     <select class="form-control" id="gonderim-il" name="gonderim-il" required>
                       {% for city in cities %}
                       <option value="{{ city.city_name }}">{{ city.city_name }}</option>
                       {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                     <label for="gonderim-ilce">İlçe</label>
                     <select class="form-control" id="gonderim-ilce" name="gonderim-ilce" required>
                       {% for district in districts[cities[0].city_name] %}
                       <option value="{{ district.district_name }}">{{ district.district_name }}</option>
                       {% endfor %}
                    </select>
                  </div>
                  <div class="mb-3">
                     <label for="gonderim-tarihi">Gönderim Tarihi</label>
                     <input type="date" class="form-control" id="gonderim-tarihi" name="gonderim-tarihi" required placeholder="2023-10-16">
                  </div>
                  <div class="mb-3">
                     <label for="gonderim-not">Not</label>
                     <textarea class="form-control" id="gonderim-not" name="gonderim-not" placeholder="Örneğin Selçuklu Belediyesin’den İletilmekte…"></textarea>
                  </div>
               </div>
            </div>
            <div class="card card4">
               <div class="card-body">
                  <h2>Teslimat Adresi</h2>
                  <div class="mb-3">
                     <label for="teslimat-il">İl</label>
                     <select class="form-control" id="teslimat-il" name="teslimat-il" required>
                        <option value="Istanbul">İstanbul</option>
                     </select>
                  </div>
                  <div class="mb-3">
                     <label for="teslimat-ilce">İlçe</label>
                     <select class="form-control" id="teslimat-ilce" name="teslimat-ilce" required>
                        <option value="Besiktas">Beşiktaş</option>
                     </select>
                  </div>
                  <div class="mb-3">
                     <label for="tahmini-teslimat-tarihi">Tahmini Teslimat Tarihi</label>
                     <input type="date" class="form-control" id="tahmini-teslimat-tarihi" name="tahmini-teslimat-tarihi" required placeholder="2023-10-17">
                  </div>
                  <div class="mb-3">
                     <label for="teslimat-not">Not</label>
                     <textarea class="form-control" id="teslimat-not" name="teslimat-not" placeholder="Örneğin Maraş Dokuz Eylül Dağıtım Merkezine Teslim Edilecektir…"></textarea>
                  </div>
               </div>
            </div>
            <div class="card card3">
               <div class="card-body">
                  <h2>Araçtaki Yardımlar</h2>
                  <div id="yardimlar">
                     <div class="yardim-row mb-3 d-flex align-items-center">
                        <select class="form-control yardim-tipi mr-2" name="yardim-tipi[]" required>
                           {% for help_item in help_types %}
                           <option value="{{ help_item.type }}">{{ help_item.type }}</option>
                           {% endfor %}
                        </select>
                        <input type="number" class="form-control yardim-miktar mr-2" name="yardim-miktar[]" required placeholder="Miktar" min="1">
                        <select class="form-control beden mr-2 d-none" name="beden[]">
                           {% for size_item in sizes %}
                           <option value="{{ size_item.size_type }}" class="{{ size_item.category }}">
                              {{ size_item.size_type }}
                           </option>
                           {% endfor %}
                        </select>
                        <button type="button" class="btn btn-danger remove-yardim">Sil</button>
                     </div>
                  </div>
                  <button type="button" class="btn btn-secondary mt-2" id="add-yardim">Yeni Yardım Ekle</button>
               </div>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col text-center">
            <button type="submit" class="btn btn-primary">Formu Gönder</button>
         </div>
      </div>
   </form>
</div>
<script src="../static/js/logistics.js"></script>

<script>
document.querySelector("#my_form").addEventListener("submit", function(event) {
    event.preventDefault();
    console.log("Form gönderiliyor...");

    let formData = new FormData(event.target);

    fetch("/form-submit", {
        method: "POST",
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        console.log(data);
        if(data.message === "Success!") {
            $("#my_form")[0].reset();
        }
    })
    .catch(error => {
        console.error('Error:', error);
    });
});

</script>

{% endblock %}